.container
  display: flex
  align-items: center
  gap: 64px

  .container-product
    display: flex
    flex-direction: column

    .teste
      display: flex
      align-self: flex-end
      justify-content: center
      margin-right: 40px

      .button-change-view
        display: block
        position: relative
        border: none
        background-color: #D9CDF7
        align-self: flex-end
        color: #271A45
        font-size: 18px
        font-weight: bold
        z-index: 1

